.actionBar {
  position: sticky;
  top: 0;

  min-height: 60px;
  padding: var(--mantine-spacing-md);

  background: color-mix(in oklch, var(--mantine-color-body), transparent 70%);
  backdrop-filter: blur(12px) saturate(1.5);
  z-index: 1;
}
