.actionBarBg {
  position: sticky;
  top: 0;
  background: color-mix(in oklch, var(--mantine-color-body), transparent 30%);
  backdrop-filter: blur(12px) saturate(1.5);
  z-index: 1;

  margin: 0 -16px;
}

.actionBar {
  min-height: 60px;
  padding: var(--mantine-spacing-md);
}
